@use "../../../../variables";

div {
  width: 100%;
  display: flex;
  flex-direction: row;
  button {
    flex: 1;
    border-radius: 10px;
    padding: 30px 18px;
    background-color: variables.$background-alternative-color;
    margin: 0 6.5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    overflow: hidden;
    &:first-child {
      margin: 0 6.5px 0 0;
    }
    &:last-child {
      margin: 0 0px 0 6.5px;
    }
    img {
      position: absolute;
      bottom: -15px;
      right: 23px;
      opacity: .2;
    }
    &.selected {
      background-color: variables.$alternative-color;
    }
  }
}
