<div class="footer">
  <div class="row social-row">
    <div>
      <img
        alt="Logo"
        src="../../assets/logo.svg"
        id="footer-logo"
      />
    </div>
    <div class="social-wrapper">
      <a href="" class="social-button">
        <img src="../../assets/instagram-logo.svg" />
      </a>
      <a href="" class="social-button">
        <img src="../../assets/facebook-logo.svg" />
      </a>
      <a href="" class="social-button">
        <img src="../../assets/twitter-logo.svg" />
      </a>
      <a href="" class="social-button">
        <img src="../../assets/linkedin-logo.svg" />
      </a>
    </div>
  </div>
  <div id="contacts">
    <div class="row contact-row">
      <img src="../../../assets/call.svg" />
      <span>+47-415-85-735</span>
    </div>
    <div class="row contact-row">
      <img src="../../../assets/email.svg" />
      <span>support@drowzee.com</span>
    </div>
    <div class="row contact-row">
      <img src="../../../assets/location.svg" />
      <span>Tordenskiolds gate 2, 0160 Oslo</span>
    </div>
  </div>
  <div id="copyright">
    <div class="row">
      <p id="year">©2022 DROWZEE AS.</p>
      <a href="#sleep-companies"><p>Sleep Companies</p></a>
      <a href="#terms-conditions"><p>Terms & Conditions</p></a>
    </div>
  </div>
</div>
