@use "../../variables";

.footer {
  margin: 107px 0 40px;
  padding: 0 55px 0 57px;
  z-index: 1;
  .social-row {
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    img#footer-logo {
      margin-right: 14%;
      width: 198px;
    }
    .social-wrapper {
      display: flex;
      margin: 12px 0 32px;
      .social-button {
        margin-right: 30px;
        width: 32px;
        height: 32px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  #contacts {
    margin: 43px 0 55px;
    .contact-row {
      align-items: center;
      margin-bottom: 18px;
      img {
        margin-right: 16px;
      }
      span {
        font-family: 'Work Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21.11px;
        text-align: center;
      }
    }
  }
  #copyright {
    border-top: 2px solid variables.$alternative-blue-color;
    padding-top: 30px;
    .row {
      justify-content: space-between;
      flex: 1;
      p {
        flex: 1;
      }
      #year {
        flex: 1;
      }
      a {
        margin-left: 45px;
      }
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    margin: 0 0 45px !important;
    padding: 0 32px !important;
    #sleep-companies {
      display: none;
    }
    .social-wrapper {
      width: 100%;
      margin: 0 0 32px !important;
      justify-content: center;
    }
    #contacts {
      margin: 25px 0 32px !important;
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    margin: 0 0 21px !important;
    padding: 0 21px !important;
  }
}
