@use "../../variables";

#headset {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 112px 154px 99.74px;
  background-image: url(../../../assets/headset-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  h2 {
    display: flex;
    text-align: center;
  }
  #bitbrain-img {
    margin-top: 42px;
    max-width: 100%;
  }
  p {
    margin-top: 35px;
  }
  .row {
    margin-top: 121.47px;
    .column {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      width: 304.82px;
      margin: 0 44.435px;
      
      &:last-child {
        width: 359.4px;
      }
      h5 {
        font-size: 22px;
        font-weight: 700;
        margin-top: 11px;
      }
      p {
        text-align: center;
        color: variables.$p-color;
      }
    }
  }
}
