<div class="menu" role="banner" [ngClass]="isTop ? 'top' : ''">
  <a id="mobile-menu">
    <img src="../../../assets/list.svg" />
    Menu
  </a>
  <img
    alt="Logo"
    src="../../assets/logo.svg"
    id="logo"
    [ngClass]="isTop ? 'top' : ''"
  />
  <span id="menu-items">
    <a aria-label="Brain Training" href="#{{menuItem.slug}}" *ngFor="let menuItem of menuItems" class="menu-item" [ngClass]="isTop ? 'top' : ''">
      {{menuItem.label}}
    </a>
  </span>
  <div class="social-wrapper">
    <a href="" class="social-button" [ngClass]="isTop ? 'top' : ''">
      <img src="../../assets/google-play-logo.svg" />
    </a>
    <a href="" class="social-button" [ngClass]="isTop ? 'top' : ''">
      <img src="../../assets/apple-logo.svg" />
    </a>
  </div>
</div>