<div class="menu" role="banner" [ngClass]="isTop ? 'top' : 'bottom'">
  <a id="mobile-menu">
    <img src="../../../assets/list.svg" />
    Menu
  </a>
  <img
    alt="Logo"
    src="../../assets/logo.svg"
    id="logo"
    [ngClass]="isTop ? 'top' : 'bottom'"
  />
  <span id="menu-items">
    <a aria-label="Brain Training" href="/{{menuItem.link}}" *ngFor="let menuItem of menuItems" class="menu-item" [ngClass]="isTop ? 'top' : 'bottom'">
      {{menuItem.label}}
    </a>
  </span>
  <div class="social-wrapper">
    <a href="https://play.google.com/store/apps/details?id=com.polydelic.drowzee" class="social-button" [ngClass]="isTop ? 'top' : 'bottom'">
      <img src="../../assets/google-play-logo.svg" />
    </a>
    <a href="https://apps.apple.com/qa/app/drowzee/id1544281217" class="social-button" [ngClass]="isTop ? 'top' : 'bottom'">
      <img src="../../assets/apple-logo.svg" />
    </a>
  </div>
</div>