<div class="menu" role="banner" [ngClass]="isTop ? 'top' : 'bottom'">
  <a id="mobile-menu" (click)="onOpen()">
    <img src="../../../assets/list.svg" />
    Menu
  </a>
  <img
    alt="Logo"
    src="../../assets/logo.svg"
    id="logo"
    [ngClass]="isTop ? 'top' : 'bottom'"
  />
  <span id="menu-items">
    <a aria-label="Brain Training" href="/{{menuItem.link}}" *ngFor="let menuItem of menuItems" class="menu-item" [ngClass]="isTop ? 'top' : 'bottom'">
      {{menuItem.label}}
    </a>
  </span>
  <div class="social-wrapper">
    <a href="https://play.google.com/store/apps/details?id=com.polydelic.drowzee" class="social-button" [ngClass]="isTop ? 'top' : 'bottom'" target="_blank">
      <img src="../../assets/google-play-logo.svg" />
    </a>
    <a href="https://apps.apple.com/qa/app/drowzee/id1544281217" class="social-button" [ngClass]="isTop ? 'top' : 'bottom'" target="_blank">
      <img src="../../assets/apple-logo.svg" />
    </a>
  </div>
</div>
<div id="mobile-menu-wrapper" [ngClass]="isMenuOpen ? 'isVisible' : ''">
  <div id="mobile-menu-content">
    <button id="close-button" (click)="onClose()">
      <img src="../../../assets/close.svg" />
    </button>
    <div id="item-wrapper">
      <a aria-label="Brain Training" href="/{{menuItem.link}}" *ngFor="let menuItem of menuItems" class="mobile-menu-item" (click)="onClose()">
        {{menuItem.label}}
      </a>
    </div>
    <div class="pre-order">
      <h2>Try Drowzee</h2>
      <p class="lowercase">Improve life quality with better sleep.</p>
      <div class="social-wrapper">
        <a href="https://play.google.com/store/apps/details?id=com.polydelic.drowzee" class="social-button" target="_blank">
          <img src="../../assets/google-play-logo.svg" />
        </a>
        <a href="https://apps.apple.com/qa/app/drowzee/id1544281217" class="social-button" target="_blank">
          <img src="../../assets/apple-logo.svg" />
        </a>
      </div>
      <div id="image-wrapper">
        <img src="../../assets/iPhone-14-pro.png" id="iphone" />
      </div>
    </div>
  </div>
</div>