@use "../../variables";

.menu {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background-color: transparentize(variables.$primary-color, 0.85);
  color: white;
  font-weight: 600;
  padding: 0 10px 0 14px;
  z-index: 1;
  a.menu-item {
    text-decoration: none;
    color: variables.$white-color;
    margin-right: 2em;
  }
  img#logo {
    margin-right: 14%;
  }
  .social-wrapper {
    display: flex;
    align-items: center;

    .social-button {
      background-color: variables.$background-alternative-color;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 12px;
    }
  }
}
