@use "../../../variables";

.pre-order {
  background: variables.$background-secondary-color url('../../../../assets/pre-order-bg.png');
  max-height: 320px;
  border-radius: 14px;
  background-size: cover;
  margin-top: 76px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  .left {
    padding: 57px 0 65px 56px;
    .button-wrapper {
      margin: 51px 0 97.79px;
      display: flex;
      flex-direction: row;
      .social-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 33px;
        h4 {
          margin-right: 32px;
        }
        .social-button {
          background-color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 12px;
          width: 56px;
          height: 56px;
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    position: relative;
    #bitbrain-img {
      position: absolute;
      width: 392px;
      right: 4.35%;
      bottom: 0;
    }
  }

  @media only screen and (max-width: 990px) {
    .left {
      padding: 56px 31px !important;
      .social-wrapper {
        h4 {
          display: none !important;
        }
      }
    }
    #bitbrain-img {
      display: none !important;
    }
  }

  @media only screen and (max-width: variables.$medium-width) {
    h3 {
      font-size: 32px !important;
    }
    .left {
      .social-wrapper {
        margin-left: 22px !important;
      }
    }
    .right {
      display: none !important;
    }
  }

  @media only screen and (max-width: variables.$small-width) {
    p {
      font-size: 16px !important;
      line-height: 26px !important;
    }
  }
}