<div class="pre-order">
  <div class="left">
    <h3>Try Drowzee now</h3>
    <p class="lowercase">We have android and ios apps.</p>
    <div class="button-wrapper">
      <app-button label="Pre-order"></app-button>
      <div class="social-wrapper">
        <h4>Download the app:</h4>
        <a href="https://play.google.com/store/apps/details?id=com.polydelic.drowzee" class="social-button">
          <img src="../../assets/google-play-logo.svg" />
        </a>
        <a href="https://apps.apple.com/qa/app/drowzee/id1544281217" class="social-button">
          <img src="../../assets/apple-logo.svg" />
        </a>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="../../assets/pre-order-phone.png" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
    data-aos-duration="1000"/>
  </div>
</div>