<app-clinician-home (openModal)="openModal($event)"></app-clinician-home>
<app-clinician-app-works (openModal)="openModal($event)"></app-clinician-app-works>
<div class="modal" [ngClass]="isModalOpen ? 'isVisible' : ''">
  <div class="modal-content">
    <h5 class="center">Get Started</h5>
    <p class="center">Choose Service you want to be enrolled</p>
    <div class="row form-row">
      <app-interest-buttons [selected]="selected" (select)="onSelect($event)"></app-interest-buttons>
    </div>
    <input *ngFor="let field of fields" type="{{field.type}}" placeholder="{{field.label}}" [(ngModel)]="field.value" />
    <app-button label="Continue" [full]="true" (click)="onContinue()"></app-button>
    <button (click)="onClose()">
      <img src="../../../assets/close.svg" />
    </button>
  </div>
</div>