<app-clinician-home></app-clinician-home>
<app-clinician-app-works (openModal)="openModal($event)"></app-clinician-app-works>
<div class="modal" [ngClass]="isModalOpen ? 'isVisible' : ''">
  <div class="modal-content">
    <h5 class="center">Get Started</h5>
    <p class="center">Choose Service you want to be enrolled</p>
    <input *ngFor="let field of fields" type="text" placeholder="{{field.label}}"/>
    <app-button label="Continue" [full]="true" (click)="onClose()"></app-button>
    <button id="close-button" (click)="onClose()">
      <img src="../../../assets/close.svg" />
    </button>
  </div>
</div>