<div id="brain-training">
  <div class="wrapper">
    <h2>Strengthen Your Brain,<br/>One Session at a time</h2>
    <div class="iphone">
      <img src="../../../assets/iPhone-14-plus.png" id="iphone-14" [style.width.%]="iPhoneWidth" />
      <img src="../../../assets/Card.png" id="card" [style.width.px]="cardWidth" [style.top.px]="cardTop1" />
      <img src="../../../assets/2Card.png" id="card2" [style.width.px]="cardWidth2" [style.top.px]="cardTop2" />
      <img src="../../../assets/1Card.png" id="card3" [style.width.px]="cardWidth3" [style.top.px]="cardTop3"/>
    </div>
  </div>
</div>
