@use "../../variables";

#brain-training {
  background-color: variables.$background-alternative-color;
  height: 600vh;
  position: relative;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 69px;
    position: sticky;
    top: 75px;
    .iphone {
      margin-top: 72px;
      position: relative;
      width: 602px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        position: absolute;
      }
      img#iphone-14 {
        
      }
      img#card {
        position: absolute;
        bottom: 154.04px;
        display: none;
      }
      img#card2 {
        position: absolute;
        bottom: 0;
        display: none;
      }
      img#card3 {
        display: none;
      }
    }
  }
  h2 {
    max-width: 704px;
    width: 100%;
    text-align: center;
  }
  
 
  
  @media only screen and (max-width: variables.$medium-width) {
    padding: 75px 18.5% !important;
    h2 {
      font-size: 32px!important;
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    padding: 75px 13% !important;
    h2 {
      font-size: 26px!important;
    }
  }
}
