@use "../../variables";

#brain-training {
  background-color: variables.$background-alternative-color;
  height: 600vh;
  position: relative;
  padding: 75px 0 !important;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 69px;
    position: sticky;
    top: 75px;
    .iphone {
      margin-top: 70px;
      position: relative;
      width: 602px;
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      img {
        position: absolute;
      }
      img#card {
        position: absolute;
        top: 209px;
      }
      img#card2 {
        position: absolute;
        top: 594px;
        width: 740px;
      }
      img#card3 {
        position: absolute;
        top: 999.11px;
        width: 800px;
      }
    }
  }
  h2 {
    max-width: 704px;
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: variables.$medium-width) {
    padding: 75px 14.2% !important;
    h2 {
      font-size: 32px!important;
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    padding: 43px 0% !important;
    top: 43px !important;
    h2 {
      font-size: 26px !important;
      line-height: 36px !important;
    }
  }
}
