@use "../../variables";

#brain-training {
  background-color: variables.$background-alternative-color;
  height: 600vh;
  position: relative;
  .wrapper {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0 69px;
    top: 75px;
  }
  h2 {
    max-width: 704px;
    width: 100%;
    text-align: center;
  }
  img {
    max-width: 100%;;
  }
  img#iphone-14 {
    margin-top: 72px;
  }
  img#card {
    position: absolute;
    bottom: 154.04px;
  }
  img#card2 {
    position: absolute;
    bottom: 0;
  }
  @media only screen and (max-width: variables.$medium-width) {
    padding: 75px 18.5% !important;
    h2 {
      font-size: 32px!important;
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    padding: 75px 13% !important;
    h2 {
      font-size: 26px!important;
    }
  }
}
