@use "../../../variables";

#about-us {
  margin-top: 108px;
  p {
    margin: 2px 0 32px;
  }
  .position {
    flex: 1;
    padding: 34px 34.25px 34px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: variables.$background-secondary-color;
    align-items: center;
    border-radius: 14px;
    margin-top: 16px;
    h5.title {
      flex: 1;
    }
    h5.location {
      color: variables.$alternative-blue-color;
      margin-right: 25.5px;
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    #about-us {
      p {
        font-size: 16px !important;
      }
    }
  }
}