@use "../../../variables";

#clinician-app-works {
  padding: 101px 52px 72px 52px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: url(../../../../assets/app-works-bg.png) variables.$background-color;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center 306px;

  .app-works {
    margin: 56px 0 56px;
    flex-wrap: wrap;
    .image, .description {
      flex: 1;
      img {
        width: 100%;
      }
    }
    .description {
      .title {
        color: variables.$alternative-blue-color;
      }
    }
    .right {
      .title {
        margin: 111px 0 0 43px;
      }
      p {
        margin: 16px 0 0 43px;
      }
    }
    .left {
      .title {
        margin: 106px 8vh 0 0;
      }
      p {
        margin: 16px 8vh 0 0;
      }
    }
  }
  .brain-sleep-row {
    margin-bottom: 87px;
  }
  .box {
    background-color: variables.$background-secondary-color;
    flex: 1;
    &.alternative{
      background-color: variables.$background-alternative-color;
    }
    &.brain-sleep {
      padding: 30px 20px 0 32px;
      height: 612px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      .phone {
        align-self: center;
      }
    }
    &#send-notifications {
      padding: 35.37px 5% 0;
    }
    &#exportable-reports {
      padding: 56px 5% 58px;
      flex: none;
      img {
        margin-bottom: 32px;
      }
    }
    &#responsive-dashboard {
      margin-top: 31px;
      padding: 64px 5% 68.25px;
      .devices {
        padding-top: 48px;
        display: flex;
        justify-content: space-between;
        img {
          margin: 0 24px;
        }
      }
    }
    &#data-secured {
      margin-top: 31px;
      padding: 98px 5% 5%;
      flex: 1;
      img {
        margin-bottom: 51px;
      }
    }
  }
  .row-logos {
    justify-content: space-between;
    width: 100%;
    padding: 64px 0 89px 0;
    img:first-child {
      margin-left: 31px;
    }
    img:last-child {
      margin-right: 31px;
    }
  }
  #row-data {
    max-width: 100%;
  }
  .column-data {
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    .box {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
  .row-spacing {
    margin: 0 18px;
    &:first-child {
      margin: 0 18px 0 0;
    }
    &:last-child {
      margin: 0 0 0 18px;
    }
  }
  #interested-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 53px 5% 50px;
    margin-top: 36px;
    .form-row {
      margin: 42px 0;
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  #future-training {
    padding: 29px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
    background: variables.$background-alternative-color;
    border-radius: 14px;
    justify-content: center;
    overflow: hidden;
    img {
      margin-right: 80px;
      max-width: 468px;
      margin-bottom: -54.96px;
    }
    .right {
      display: flex;
      flex-direction: column;
      padding: 59px 0 82px;

      div {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: space-between;
        h1 {
          font-size: 48px;
          font-weight: 400;
          line-height: 60px;
          max-width: 384px;
        }
        p {
          margin-top: 18px;
          flex: 1;
        }
      }
      
    }
  }
  @media only screen and (max-width: 1245px) {
    #future-training {
      flex-direction: column;
      align-items: center;
      padding: 42px 22px 23px 29px !important;
      img {
        margin-right: 10px;
      }
      .right {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        div {
          flex: 1;
        }
      }
    }
  }
  @media only screen and (max-width: 990px) {
    .testimonials, .blog {
      .row-wrapper {
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
        .row {
          display: flex;
          float: left;
          flex-wrap: nowrap;
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    #future-training {
      justify-content: center;
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    #row-data {
      display: flex;
      flex-direction: column;
    }
    .column-data {
      width: 100%;
    }
    #future-training {
      .right {
        align-items: flex-start;
        flex-direction: column;
        p {
          margin-bottom: 14px !important;
        }
      }
    }
  }
}