<div class="blog">
  <div class="blog-container">
    <h2 class="center">Why EEG Headset is good way to get better sleep...</h2>
    <p class="center">Oct 21, 2022</p>
    <swiper [pagination]="{
      clickable: true
    }" class="mySwiper">
      <ng-template swiperSlide>
        Slide 1
      </ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
    </swiper>
    <p id="blog-description">
      The EGG headset and Pendulum App is a combination of products that will not only help you in sleeping better, but will also increase your productivity with closed loop brain training.
      <br />
      <br />
      Our EEG headset is comfortable to wear and can be used at work or at home. All you need is 20 mins to relax and based on your sessions we will provide you data-driven personalised sleep schedules. 
    </p>
  </div>
  <div class="box">
    
  </div>
  <div id="pre-order-wrapper">
    <app-pre-order></app-pre-order>
  </div>
</div>