<div class="blog">
  <div class="blog-container">
    <h2 class="center">Why EEG Headset is good way to get better sleep...</h2>
    <p class="center">Oct 21, 2022</p>
    <swiper [pagination]="{
      clickable: true
    }" class="mySwiper">
      <ng-template swiperSlide>
        Slide 1
      </ng-template>
      <ng-template swiperSlide>Slide 2</ng-template>
      <ng-template swiperSlide>Slide 3</ng-template>
    </swiper>
    <p id="blog-description">
      The EGG headset and Pendulum App is a combination of products that will not only help you in sleeping better, but will also increase your productivity with closed loop brain training.
      <br />
      <br />
      Our EEG headset is comfortable to wear and can be used at work or at home. All you need is 20 mins to relax and based on your sessions we will provide you data-driven personalised sleep schedules. 
    </p>
    <div class="box">
      <div class="header row">
        <img src="../../../assets/anri.png" alt="Avatar" class="avatar" />
        <h6 class="name">Anri</h6>
      </div>
      <div class="body">
        <p>“I absolutely LOVE this product! my productivity increased, also I had better sleep last week! so everyone preorder it right now!”</p>
      </div>
    </div>
    <h5 id="title">Paragraph title</h5>
    <p>The EGG headset and Pendulum App is a combination of products that will not only help you in sleeping better, but will also increase your productivity with closed loop brain training.    </p>
    <div class="share-box row">
      <h3>Was this article interesting?</h3>
      <div class="social row">
        <h5>Share now</h5>
        <a href="" class="social-button">
          <img src="../../assets/facebook-logo.svg" />
        </a>
        <a href="" class="social-button">
          <img src="../../assets/twitter-logo.svg" />
        </a>
        <a href="" class="social-button">
          <img src="../../assets/linkedin-logo.svg" />
        </a>
      </div>
    </div>
  </div>
 
  <div id="pre-order-wrapper">
    <app-pre-order></app-pre-order>
  </div>
</div>