@use "../../variables";

.blog {
  padding: 140px 29px 78px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .blog-container {
    max-width: 1000px;
    align-items: center;
    width: 100%;
    .swiper {
      width: 100%;
      max-width: 1000px;
      height: 730px;
      z-index: 0;
      margin-top: 32px;
    }
    .swiper-wrapper {
      height: 670px;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: variables.$background-secondary-color;
    
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background: rgba(76, 72, 244, 0.6);
    }
    .swiper-pagination-bullet-active {
      background-color: variables.$alternative-blue-color;
    }
    #blog-description {
      margin-top: 62px;
    }
    .box {
      background-color: variables.$background-alternative-color;
      margin-top: 40px;
      padding: 16.86px 31px 29px 30px;
      .header {
        align-items: center;
        h6 {
          margin-left: 12.05px;
        }
      }
      .body {
        margin-top: 19px;
      }
    }
    h5#title {
      font-family: 'Work Sans', sans-serif;
      font-size: 24px;
      margin-top: 78px;
    }
    .share-box {
      border-top: 1.5px solid rgba(255, 255, 255, 0.2);
      align-items: center;
      padding: 37px 0 0;
      margin: 104px 0 0;
      flex-wrap: wrap;
      h3 {
        flex: 1;
      }
      .social {
        align-items: center;
        .social-button {
          justify-content: center;
          align-items: center;
          display: flex;
          width: 64px;
          height: 64px;
          border-radius: 50%;
          margin-left: 16px;
          background-color: variables.$background-secondary-color;
        }
      }
    }
  }
  #pre-order-wrapper {
    width: 100%;
  }
}
