$primary-color: #4C48F4;
$secondary-color: #3F659D;
$alternative-color: #29A39B;
$background-color: #030B31;
$background-secondary-color:#071145;
$white-color: #ffffff;
$background-alternative-color: #1C2A71;
$alternative-blue-color: #9FA3EB;
$p-color: rgba(255, 255, 255, 0.8);
