<div class="content" role="main">
  <img src="../assets/home-bg.png" alt="Home background image" />
  <div class="page">
    <app-header></app-header>
    <div class="row">
      <div class="left">
        <h1>The Future Of Brain Training</h1>
        <h3>Improve life quality with better sleep...</h3>
        <img src="../assets/bitbrain.png" alt="Bitbrain" id="bitbrain-image" />
      </div>
      <div>
        <img src="../assets/iPhone-14-pro.png" id="iphone-image" />
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
