<div class="content" role="main">
  <img src="../assets/home-bg.png" alt="Home background image" id="background" />
  <div class="page">
    <app-header></app-header>
    <div class="home">
      <div class="left">
        <h1>The Future Of Brain Training</h1>
        <h3>improve life quality with better sleep...</h3>
        <div class="button-wrapper">
          <app-button label="Pre-order"></app-button>
        </div>
        <img src="../assets/bitbrain.png" alt="Bitbrain" id="bitbrain-image" />
      </div>
      <div>
        <img src="../assets/iPhone-14-pro.png" id="iphone-image" />
      </div>
    </div>
    <div class="sleep-efficiency">
      
      <div class="left">
        <h2>Calculate Sleep Efficiency<img src="../assets/caret-double-right.svg" /> </h2>
        <div class="charts">
          <circle-progress
            [percent]="85"
            [radius]="62"
            [outerStrokeWidth]="6"
            [outerStrokeGradient]="true"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#4C48F4'"
            [outerStrokeGradientStopColor]="'#9193FF'"
            [showZeroOuterStroke]="true"
            [titleColor]="'#ffffff'"
            [animation]="true"
            [animationDuration]="1000"
          >
          </circle-progress>
        </div>
      </div>
     
    </div>
  </div>
</div>

<router-outlet></router-outlet>
