@use "./variables";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(6px);
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: variables.$white-color;
  .center-aligned {
    align-items: center;
  }
  img#background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }
  .page {
    background: linear-gradient(181.16deg, rgba(3, 8, 49, 0) 1.56%, #030A31 29.02%);
    backdrop-filter: blur(6px);
    width: 100%;
    flex: 1;
    position: relative;
   
    .sleep-efficiency {
      padding: 112px 144px 141px 79px;
      .top-spacing {
        margin-top: 64px; 
      }
      .row {
        display: flex;
        flex-direction: row;
        h2 {
          align-items: center;
          display: flex;
          img {
            width: 96px;
            height: 96px;
            margin-left: 48px;
          }
        }
        .left {
          width: 779px;
        }
        .right {
          margin-left: 28px;
        }
        .charts {
          display: flex;
          flex-direction: row;
          .circle {
            width: 124px;
            height: 124px;
            border-radius: 50%;
            background-color: variables.$background-alternative-color;
            align-items: center;
            justify-content: center;
            display: flex;
            position: relative;
            &.center {
              margin-top: 33px;
            }
          }
          .first {
            margin-right: 21.06px;
          }
          .second {
            margin-right: 60px;
            #bottom-progress {
              margin-top: 18px;
            }
          }
          .third {
            display: flex;
            flex-direction: column;
            align-items: center;
            .brain {
              width: 260px;
              height: 112px;
              background-color: variables.$primary-color;
              border-radius: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .row {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-top: 39px;
              .circle {
                margin-right: 22px;
              }
            }
          }
        }
        .description {
          h4.title {
            color: variables.$alternative-blue-color;
            font-weight: 700;
            font-size: 32px;
            max-width: 383px;
          }
          p {
            font-family: 'Work Sans';
            font-weight: 400;
            text-transform: lowercase;
            line-height: 34px;
            letter-spacing: 0.01em;
            font-size: 20px;
            max-width: 507px;
            color: variables.$p-color;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

