@use "../../../variables";

#brain-training {
  background-color: variables.$background-alternative-color;
  height: 300vh;
  position: relative;
  padding: 75px 0 !important;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 69px;
    position: sticky;
    top: 75px;
    .wrapper-row {
      height: 648px;
      .iphone {
        margin-top: 70px;
        position: relative;
        width: 602px;
  
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          position: absolute;
        }
        img#card {
          position: absolute;
          top: 209px;
        }
        img#card2 {
          position: absolute;
          top: 594px;
          width: 740px;
        }
        img#card3 {
          position: absolute;
          top: 999.11px;
          width: 800px;
        }
      }
      .text {
        overflow: hidden;
        margin-top: 130px;
        &.visible {
          visibility: visible;
        }
        &.hidden {
          visibility: hidden;
        }
        .text-row {
          align-items: center;
          margin-top: 16px;
          img {
            margin-right: 16px;
          }
          p {
            font-size: 24px;
            color: white;
            white-space: nowrap;
          }
        }
        .social-wrapper {
          margin-top: 70px;
          h4 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 8px;
          }
          .social-button {
            background-color: white;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 12px;
            width: 56px;
            height: 56px;
          }
        }
      }
    }
  }

  h2 {
    max-width: 704px;
    width: 100%;
    text-align: center;
  }
  
  @media only screen and (max-width: variables.$medium-width) {
    padding: 75px 5.2% !important;
    .wrapper-row {
      flex-direction: column-reverse !important;
      align-items: center;
      height: auto !important;
      #iphone-14 {
        position: relative !important;
      }
      .text {
        margin-top: 14px !important;
      }
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    padding: 43px 0% !important;
    top: 43px !important;
    h2 {
      line-height: 36px !important;
    }
  }
}
