@use "../../variables";

button {
  width: 220px;
  height: 70px;
  border-radius: 8px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-width: 0;
  color: variables.$white-color;
  font-family: 'Comfortaa';
  font-weight: 700;

  &:active {
    border-style: outset;
  }
}
