button {
  width: 220px;
  height: 70px;
  border-radius: 8px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Comfortaa';
  font-weight: 700;
  cursor: pointer;
  &:active {
    border-style: outset;
  }
  &.full-width {
    width: 100%;
  }
}
