<div id="about">
  <div id="about-home">
    <div id="left">
      <h1 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50"
      data-aos-duration="700">About us</h1>
      <h3 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
      data-aos-duration="700">text here...</h3>
    </div>
    <div id="right" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="800" data-aos-offset="-100"
    >
    </div>
  </div>
  <div id="about-content">
    <h2>Our Mission</h2>
    <p class="center" id="description">The EGG headset and Pendulum App is a combination of products that will not only help you in sleeping better, but will also increase your productivity with closed loop brain training.
      <br/><br/>
      Our EEG headset is comfortable to wear and can be used at work or at home. All you need is 20 mins to relax and based on your sessions we will provide you data-driven personalised sleep schedules. 
    </p>
  </div>
  <div id="about-roadmap">
    <h2>Product Roadmap</h2>
    <p id="big-plans">We have big plans</p>
    <div class="roadmap row">
      <div class="lines">
        <div class="dot"></div>
        <div class="line"></div>
      </div>
      <div class="box">
        <div class="row">
          <div class="left">
            <h5>Drowzee has Launched Mobile App</h5>
            <p>30 Oct, 2022</p>
          </div>
          <p class="roadmap-description">
            The EGG headset and Pendulum App is a combination of products that will not only help you in sleeping better, but will also increase your productivity with closed loop brain training. Our EEG headset is comfortable to wear and can be used at work or at home. All you need is 20 mins to relax and based on your sessions we will provide you data-driven personalised sleep schedules.
          </p>
        </div>
      </div>
    </div>
    <div class="roadmap row">
      <div class="lines">
        <div class="dot"></div>
        <div class="line" id="ending"></div>
      </div>
      <div class="box">
        <div class="row">
          <div class="left">
            <h5>Awarded - Innovative product of the year</h5>
            <p>1 Sep, 2022</p>
          </div>
          <p class="roadmap-description">
            The EGG headset and Pendulum App is a combination of products that will not only help you in sleeping better, but will also increase your productivity with closed loop brain training. Our EEG headset is comfortable to wear and can be used at work...
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="meet-team">
    <h2 class="center">Meet the Team</h2>
    <div class="row section">
      <div class="profile" *ngFor="let person of people">
        <div class="profile-wrapper">
          <div class="photo">
            <img src="../../../assets/{{person.photo}}" *ngIf="person.photo" />
          </div>
          <div class="info">
            <h5>{{person.name}}</h5>
            <p>{{person.role}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-join-team></app-join-team>
  <app-pre-order (click)="redirectToHeadset()"></app-pre-order>
</div>