@use "../../variables";

#about {
  background: url(../../../assets/about-bg.jpg) variables.$background-color; 
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 212px 54px 0 63px;
  #about-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    h1 {
      margin: 0;
    }
    h3 {
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 0.01em;
      text-transform: lowercase;
      font-family: 'Work Sans', sans-serif;
      margin-top: 16px;
    }
    #left {
      max-width: 585px;
      margin-top: 110.37px;
      margin-right: 144px;
    }
    #right {
      width: 645px;
      height: 559px;
      background-color: variables.$background-alternative-color;
      border-radius: 16px;
    }
  }
  #about-content {
    margin-top: 117px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    p#description {
      font-size: 28px;
      margin-top: 21px;
      max-width: 943px;
      width: 100%;
    }
  }
  #about-roadmap {
    margin-top: 197px;
    flex: 1;
    p#big-plans {
      margin-bottom: 40px;
    }
    .roadmap {
      margin-bottom: 18px;
      align-items: flex-start;
      .lines {
        display: flex;
        flex-direction: column;
        align-items: center;
        .dot {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background-color: variables.$alternative-color;
          margin-bottom: 18px;
        }
        .line {
          width: 2px;
          height: 196px;
          background-image: linear-gradient(to bottom, #6D71C1, #B9BDFE);
          &#ending {
            background-image: linear-gradient(to bottom, #6D71C1, #0C0E2D00);
          }
        }
      }
      .box {
        margin-left: 28px;
        background-color: variables.$background-secondary-color;
        padding: 24px 38px 16px 33px;
        .left {
          flex: 1;
        }
        p {
          max-width: 50%;
        }
      }
    }
  }
  #meet-team {
    margin-top: 115px;
    .section {
      flex-wrap: wrap;
      .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        margin-top: 44px;
        .photo {
          background-color: variables.$background-secondary-color;
          width: 256px;
          height: 256px;
          border-radius: 20px;
        }
        h5 {
          margin-top: 24px;
        }
        p {
          font-size: 16px;
        }
      }
    }
    @media only screen and (max-width: 1178px) {
      margin-top: 140px;
      .section {
        .profile {
          width: 33%;
          margin-top: 42px;
          .photo {
            width: 200px;
            height: 200px;
          }
          h5 {
            font-size: 20px !important;
          }
        }
      }
    }
    @media only screen and (max-width: 742px) {
      margin-top: 96px;
      .section {
        .profile {
          width: 100%;
          margin-top: 42px;
          .profile-wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            .photo {
              width: 110px;
              height: 110px;
            }
            .info {
              margin-left: 20px;
              flex: 1;
              h5 {
                font-size: 20px !important;
              }
            }
            
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1360px) {
    #about-home {
      #right {
        margin-top: 20px;
        height: 436px !important;
      }
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    padding: 99px 35px 0;
    #about-home {
      #left {
        margin-top: 0 !important;
        margin-right: 0 !important;
      }
      #right {
        width: 100%;
      }
    }
    #about-content {
      h2 {
        width: 100% !important;
      }
      p#description {
        font-size: 22px;
        line-height: 36px;
        margin-top: 2px;
      }
    }
    #about-roadmap {
      .row {
        .line {
          height: 85px !important;
          &.ending {
            height: 196px !important;
          }
        }
        p.roadmap-description {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-width: variables.$small-width) {
    padding: 84px 16px 0;
    #about-content {
      margin-top: 45px !important;
      p#description {
        font-size: 16px;
        line-height: 28px;
        margin-top: 12px;
        text-align: left !important;
      }
    }
    #about-roadmap {
      margin-top: 97px;
      .line {
        &.ending {
          height: 108px !important;
        }
      }
    }
  }
}