<div class="wrapper">
  <div class="sleep-diary">
    <div class="left">
      <section class="parallax bg">
      </section>
    </div>
    <div class="right">
      <h2>Log Sleep Diary</h2>
      <p>Self Monitoring and Insight by your sleep tracking devices...</p>
      <p class="comment">Track it manually or with wearable devices:</p>
      <div id="devices">
        <img src="../../../assets/google-fit.svg" alt="Google Fit logo" id="google-fit" />
        <img src="../../../assets/fitbit.svg" alt="Fitbit logo" id="fitbit" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box">
      <img src=""
    </div>
  </div>
</div>
