<div class="wrapper">
  <div class="sleep-diary">
    <div class="left">
      <section class="parallax bg">
      </section>
    </div>
    <div class="right">
      <h2>Log Sleep Diary</h2>
      <p>Self Monitoring and Insight by your sleep tracking devices...</p>
      <p class="comment">Track it manually or with wearable devices:</p>
      <div id="devices">
        <img src="../../../assets/google-fit.svg" alt="Google Fit logo" id="google-fit" />
        <img src="../../../assets/fitbit.svg" alt="Fitbit logo" id="fitbit" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="box" id="track-progress">
      <img src="../../../assets/chart-2.svg" alt="Chart icon" />
      <h3>Track Your Progress</h3>
      <p class="center lowercase">Keep track of your sleep quality improvements over the sessions conducted.</p>
      <img src="../../../assets/iPhone-13-pro.png" alt="iPhone 13 image" />
    </div>
    <div class="box" id="data-secured">
      <img src="../../../assets/shield.svg" alt="Shield icon" />
      <h3>Your Data Is Secured</h3>
      <p class="center lowercase">The data we gather is secured. anytime you can deactivate your account and we erase all the data in database.</p>
    </div>
  </div>
  <div class="testimonials">
    <h2 id="title">Here is what our customers say.</h2>
    <div class="row">
      <div class="box" *ngFor="let testimonial of testimonials">
        <div class="header" *ngIf="testimonial.name">
          <img src="../../../assets/anri.png" alt="Avatar" class="avatar" />
          <h6 class="name">{{testimonial.name}}</h6>
          <span class="date">{{testimonial.date}}</span>
        </div>
        <div *ngIf="testimonial.title" class="body">
          <h6>{{testimonial.title}}</h6>
          <p>“{{testimonial.description}}”</p>
          <img src="../../../assets/stars.svg" *ngIf="testimonial.rating" class="ratings" />
        </div>
      </div>
    </div>
  </div>
  <div class="faq">
    <h2 id="title">Frequently Asked Questions</h2>
    <div class="row">
      <div class="box faq-box" *ngFor="let faq of faqs">
        <div class="body">
          <h5>{{faq.question}}</h5>
          <p>{{faq.answer}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="pre-order">
    
  </div>

</div> 
