<div class="wrapper" id="parallax">
  <div id="sleep-diary">
    <div class="left">
      <img src="../../../assets/iPhone-12.png" alt="iPhone 12" />
    </div>
    <div class="right">
      <h2>Log Sleep Diary</h2>
      <p>Self Monitoring and Insight by your sleep tracking devices...</p>
      <p class="comment">Track it manually or with wearable devices:</p>
      <div id="devices">
        <img src="../../../assets/google-fit.svg" alt="Google Fit logo" id="google-fit" />
        <img src="../../../assets/fitbit.svg" alt="Fitbit logo" id="fitbit" />
      </div>
    </div>
  </div>
  <div class="row" id="progress-data">
    <div class="box" id="track-progress">
      <img src="../../../assets/chart-2.svg" alt="Chart icon" />
      <h3>Track Your Progress</h3>
      <p class="center lowercase">Keep track of your sleep quality improvements over the sessions conducted.</p>
      <img src="../../../assets/iPhone-13-pro.png" alt="iPhone 13 image" />
    </div>
    <div class="box" id="data-secured">
      <img src="../../../assets/shield.svg" alt="Shield icon" />
      <div>
        <h3>Your Data Is Secured</h3>
        <p class="center lowercase">The data we gather is secured. anytime you can deactivate your account and we erase all the data in database.</p>
      </div>
    </div>
  </div>
  <app-testimonials></app-testimonials>
  <div class="pre-order">
    <div class="left">
      <h3>Try Drowzee now</h3>
      <p class="lowercase">We have android and ios apps.</p>
      <div class="button-wrapper">
        <app-button label="Pre-order"></app-button>
        <div class="social-wrapper">
          <h4>Download the app:</h4>
          <a href="https://play.google.com/store/apps/details?id=com.polydelic.drowzee" class="social-button">
            <img src="../../assets/google-play-logo.svg" />
          </a>
          <a href="https://apps.apple.com/qa/app/drowzee/id1544281217" class="social-button">
            <img src="../../assets/apple-logo.svg" />
          </a>
        </div>
      </div>
    </div>
    <div class="right">
      <img src="../../assets/pre-order-phone.png" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
      data-aos-duration="1000"/>
    </div>
  </div>
  <div id="about-us">
    <h2>Join Our Team</h2>
    <p class="lowercase">we are hiring</p>
    <div class="position" *ngFor="let position of positions; let i = index" data-aos="fade-up" [attr.data-aos-delay]="800 * i"
    data-aos-duration="1000">
      <h5 class="title">{{position.title}}</h5>
      <h5 class="location">{{position.location}}</h5>
      <img src="../../../assets/chevron-right.svg" />
    </div>
  </div>
  <!-- <div class="blog">
    <h2 id="title">Read Our Blog</h2>
    <div class="row-wrapper">
      <div class="row">
        <div class="blog-box-wrapper" *ngFor="let blog of blogs">
          <div class="box blog-box">
          </div>
          <h5>Blog Title Goes here</h5>
        </div>
      </div>
    </div>
  </div> -->
  <div id="for-clinicians">
    <img src="../../../assets/macbook-air.png" alt="Macbook air" />
    <div class="right">
      <div>
        <h1>Are you clinician?</h1>
        <p>We have solutions for clinics as well.</p>
      </div>
      <app-button label="Learn More" type="secondary"></app-button>
    </div>
  </div>
</div> 
