@use "../../../variables";

.wrapper {
  display: flex;
  padding: 59px 56px;
  background-color: variables.$background-color;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  #sleep-diary {
    background-color: variables.$background-alternative-color;
    border-radius: 14px;
    padding: 0 73px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    .left {
      color: white;
      flex: 1;
      padding-top: 63px;
      justify-content: flex-end;
      display: flex;
      flex-direction: column;
      img {
        width: 100%;
      }
    }
    .right {
      flex: 1;
      padding: 88px 0 66.99px 86.9px;
      p {
        max-width: 367px;
        margin-top: 14px;
        &.comment {
          margin-top: 194px;
          font-family: 'Work Sans', sans-serif;
          font-weight: 400;
          line-height: 34px;
          font-size: 16px;
          letter-spacing: 0.01em;
        }
      }
      div#devices {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        #fitbit {
          margin-left: 29.92px;
        }
      }
    }
  }
  .row {
    margin-top: 37px;
    .box {
      background-color: variables.$background-secondary-color;
      margin: 0 14px;
      &:first-child {
        margin: 0 14px 0 0;
      }
      &:last-child {
        margin: 0 0 0 14px;
      }
      &#track-progress {
        padding: 44.25px 87px 0 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        h3 {
          margin-top: 23px;
        }
        img {
          margin-top: 17px;
          max-width: 100%;
        }
      }
      &#data-secured {
        padding: 98px 87px 0 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        h3 {
          margin-top: 51px;
        }
      }
    }
    h3 {
      text-align: center;
    }
  }
  
  #about-us {
    margin-top: 108px;
    p {
      margin: 2px 0 32px;
    }
    .position {
      flex: 1;
      padding: 34px 34.25px 34px 28px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: variables.$background-secondary-color;
      align-items: center;
      border-radius: 14px;
      margin-top: 16px;
      h5.title {
        flex: 1;
      }
      h5.location {
        color: variables.$alternative-blue-color;
        margin-right: 25.5px;
      }
    }
  }
  
  @media only screen and (max-width: 990px) {
    #sleep-diary {
      flex-direction: column-reverse;
      align-items: center;
      padding: 54px 96px 0!important;
      flex-wrap: nowrap;
      .right {
        padding: 0!important;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2, p {
          text-align: center;
        }
        p {
          &.comment {
            margin-top: 54px;
          }
        }
      }
    }
    #track-progress {
      margin: 0 !important;
      padding: 36px 21.5px !important;
    }
    #progress-data {
      flex-direction: column;
      #data-secured {
        margin: 18px 0 !important;
        flex-direction: row !important;
        padding: 47px 85px 45px 58px !important;
        div {
          margin-left: 57px !important;
          h3 {
            font-size: 26px !important;
            text-align: start;
            margin: 0 !important;
          }
          p {
            font-size: 16px !important;
            text-align: start;
          }
        }
      }
    }
    .testimonials, .blog {
      .row-wrapper {
        overflow-x: auto;
        width: 100%;
        scrollbar-width: none;
        .row {
          display: flex;
          float: left;
          flex-wrap: nowrap;
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }

  @media only screen and (max-width: variables.$medium-width) {
    padding: 52px 29px !important;
    h2 {
      font-size: 32px !important;
    }
    .faq {
      .row {
        flex-direction: column !important;
        .faq-box {
          margin: 0 0 21px !important;
          flex: 1 !important;
          width: auto !important;
        }
      }
    }
    
    #about-us {
      p {
        font-size: 16px !important;
      }
    }
    .blog {
      h5 {
        font-size: 20px !important;
      }
    }
  }
  @media only screen and (max-width: 600px) {
    padding: 37px 21px !important;
    #progress-data {
      #data-secured {
        flex-direction: column !important;
        padding: 24px 22px 15px 23px !important;
        div {
          margin: 26px 0 0 0 !important;
        }
      }
    }
  }

  @media only screen and (max-width: variables.$small-width) {
    p {
      font-size: 16px !important;
      line-height: 26px !important;
    }
    #sleep-diary {
      padding: 22.56px 17.5px !important;
      h2 {
        font-size: 20px !important;
        line-height: 30px !important;
      }
    }
  }
}
