@use "../../../variables";

#eeg-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 89px 2.72% 0 4.17%;
  background: url(../../../../assets/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
  h3 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
  }
  .left {
    max-width: 585px;
    margin-top: 110.37px;
    .button-wrapper {
      margin: 51px 0 97.79px;
      display: flex;
      align-items: center;
      p {
        width: 149px;
        margin-left: 15px;
        text-align: center;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    img {
      position: relative;
      width: auto;
      height: auto;
      margin-bottom: 21px;
    }
    .row {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 1360px) {
    justify-content: center;
  }
  @media only screen and (max-width: variables.$medium-width) {
    .left {
      margin-top: 0 !important;
      .button-wrapper {
        margin: 21px 0 8.5px !important;
      }
    }
  }
}