<div id="eeg-home">
  <div class="left">
    <h1 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50"
    data-aos-duration="700">EEG Headset</h1>
    <h3 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
    data-aos-duration="700">
      Drowzee's Pendulum Sleep Kit is designed to train the brain to relax deeply and conquer sleep issues during the day so that you can sleep better at night.
    </h3>
    <div class="button-wrapper" data-aos="fade-right">
      <app-button label="Pre-order"></app-button>
      <p>$400,00</p>
    </div>
   
  </div>
  <div class="right">
    <img src="../../../../assets/headset-1.png" id="headset-1" />
    <img src="../../../../assets/headset-2.png" id="headset-2" />
    <div class="row">
      <img src="../../../../assets/headset-3.png" id="headset-3" />
      <img src="../../../../assets/headset-4.png" id="headset-4" />
    </div>
  </div>
</div>