@use "../../../variables";

#eeg-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 89px 2.72% 0 4.17%;
  background: url(../../../../assets/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  
  h3 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
  }
  .left {
    max-width: 595px;
    margin-top: 110.37px;
    .button-wrapper {
      margin: 51px 0 97.79px;
      display: flex;
      align-items: center;
      p {
        width: 149px;
        margin-left: 15px;
        text-align: center;
      }
    }
    .set {
      height: 70px;
      margin-bottom: 65px;
    }
    .specs {
      .icons {
        display: flex;
        flex-direction: column;
        .row {
          align-items: flex-start;
          p {
            margin-left: 8px;
            font-size: 24px;
            color: variables.$alternative-blue-color;
          }
        }
      }
    }
    .sizes {
      margin-left: 40px;
      .set {
        margin-top: 10px;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    img {
      position: relative;
      width: auto;
      height: auto;
      margin-bottom: 21px;
    }
    .row {
      justify-content: space-between;
    }
  }

  @media only screen and (max-width: 1360px) {
    justify-content: center;
  }
  @media only screen and (max-width: variables.$medium-width) {
    .left {
      margin-top: 0 !important;
      .button-wrapper {
        margin: 40px 0 49px !important;
      }
    }
    .right {
      flex-direction: row;
      overflow-x: scroll;
      height: 340px;
      img {
        max-width: none;
        margin-right: 19px;
      }
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    .left {
      margin-top: 0 !important;
      p {
        font-size: 18px !important;
      }
      h5 {
        font-size: 16px !important;
      }
      .button-wrapper {
        margin: 40px 0 49px !important;
      }
    }
  }
}