<div id="eeg-home">
  <div class="left">
    <h1 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50"
    data-aos-duration="700">EEG Headset</h1>
    <h3 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
    data-aos-duration="700">
      Drowzee's Pendulum Sleep Kit is designed to train the brain to relax deeply and conquer sleep issues during the day so that you can sleep better at night.
    </h3>
    <div class="button-wrapper" data-aos="fade-right">
      <app-button label="Pre-order" (click)="onClick()"></app-button>
      <p>$400,00</p>
    </div>
    <div class="row specs">
      <div class="icons">
        <div class="row set">
          <img src="../../../../assets/ruler.svg" />
          <p>One size fits all</p>
        </div>
        <div class="row set">
          <img src="../../../../assets/battery-full.svg" />
          <p>Battery</p>
        </div>
        <div class="row">
          <img src="../../../../assets/cube.svg" />
          <p>What’s in the box</p>
        </div>
      </div>
      <div class="sizes">
        <div class="set">
          <h5>6.5” x 6.25” x 3.25”</h5>
          <h5>0.55 lbs / 250 grams</h5>
        </div>
        <div class="set">
          <h5>Upto 16 hours</h5>
          <h5>3500 Mah</h5>
        </div>
        <div class="set">
          <h5>Headset</h5>
          <h5>USB-C cable</h5>
          <h5>Quick Start Guide</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="../../../../assets/headset-1.png" id="headset-1" />
    <img src="../../../../assets/headset-2.png" id="headset-2" />
    <div class="row">
      <img src="../../../../assets/headset-3.png" id="headset-3" />
      <img src="../../../../assets/headset-4.png" id="headset-4" />
    </div>
  </div>
</div>