@use "../../variables";

#home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4.17%;
  padding-right: 2.72%;
  justify-content: space-between;
  margin-top: 89px;

  h1 {
    font-size: 78px;
    font-weight: 300;
    margin: 0;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
  }
  .left {
    max-width: 585px;
    margin-top: 110.37px;
    .button-wrapper {
      margin: 51px 0 97.79px;
    }
    img#bitbrain-image {
      width: 413.21px;
      height: auto;
      position: relative;
      max-width: 100%;
      @media (max-width: 834px) {
        display: none;
      }
    }
  }
  img#iphone-image {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
  }
  @media only screen and (max-width: 1360px) {
    justify-content: center;
  }
  @media only screen and (max-width: variables.$medium-width) {
    .left {
      margin-top: 0 !important;
      .button-wrapper {
        margin: 21px 0 8.5px !important;
      }
    }
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 22px;
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    h1 {
      font-size: 28px;
    }
    h3 {
      font-size: 16px;
    }
  }
}