<div id="home">
  <div class="left">
    <h1 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50"
    data-aos-duration="700">The Future Of Brain Training</h1>
    <h3 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
    data-aos-duration="700">Improve life quality with better sleep...</h3>
    <div class="button-wrapper" data-aos="fade-right">
      <a href="/eeg-headset#pre-order"><app-button label="Pre-order"></app-button></a>
    </div>
    <img src="../../../../assets/bitbrain.png" alt="Bitbrain" id="bitbrain-image" data-aos="fade-up" data-aos-delay="150"
    data-aos-duration="750" />
  </div>
  <div data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="800" data-aos-offset="-100"
  >
    <img src="../../../../assets/iPhone-14-pro.png" id="iphone-image" />
  </div>
</div>