@use "../../variables";

#sleep-efficiency {
  padding: 112px 144px 141px 79px;
  background-image: url(../../../assets/sleep-efficiency-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  #sleep-efficiency-scroll {
    position: relative;
    height: 600vh;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 112px;
  
    .top-spacing {
      margin-top: 64px; 
    }
    .center-aligned {
      align-items: center;
    }
    .row {
      .center {
        position: relative;
        display: flex;
        flex-wrap: wrap;
      }
      .mask {
        background: variables.$primary-color;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        mix-blend-mode: multiply;
        &#mask1 {
          background: black;
          mix-blend-mode: lighten;
        }
      }
      
      h2 {
        align-items: center;
        display: flex;
        font-size: 48px;
        font-weight: 300;
        color: white;
        opacity: 0.9;
        #caret {
          width: 96px;
          height: 96px;
          margin: 0 28px 0 20px;
        }
      }
      .charts {
        display: flex;
        flex-direction: row;
        width: 779px;
  
        .circle {
          width: 124px;
          height: 124px;
          border-radius: 50%;
          position: relative;
          img {
            max-width: 100%;
            max-height: 100%;
          }
          &.center {
            margin-top: 33px;
          }
          &.moon-star {
            background-color: variables.$background-alternative-color;
            align-items: center;
            justify-content: center;
            display: flex;
          }
        }
        .first {
          margin-right: 21.06px;
        }
        .second {
          margin-right: 60px;
          #bottom-progress {
            margin-top: 18px;
          }
        }
        .third {
          display: flex;
          flex-direction: column;
          align-items: center;
          .brain {
            width: 260px;
            height: 112px;
            background-color: variables.$primary-color;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .row {
            align-items: center;
            margin-top: 39px;
            .circle {
              margin-right: 22px;
            }
          }
        }
      }
      .description {
        h4.title {
          color: variables.$alternative-blue-color;
          font-weight: 700;
          font-size: 32px;
          max-width: 383px;
        }
        p {
          font-family: 'Work Sans', sans-serif;
          font-weight: 400;
          text-transform: lowercase;
          line-height: 34px;
          letter-spacing: 0.01em;
          font-size: 20px;
          max-width: 507px;
          color: variables.$p-color;
          margin-top: 20px;
        }
        .button-wrapper {
          margin-top: 27px;
        }
      }
    }
  }
  @media only screen and (max-width: 1508px) {
    .charts {
      width: auto !important;
    }
  }
  @media only screen and (max-width: 1351px) {
    h2 {
      font-size: 32px !important;
      #caret {
        width: 64px !important;
        height: 64px !important;
        margin-left: 0 !important;
      }
    }
    .row {
      justify-content: center !important;
      #caret {
        margin: 0 22px 0 0 !important;
      }
      .description {
        margin-top: 86px;
        width: 100%;
        h4, p {
          width: auto !important;
        }
      }
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    padding: 103.36px 44px 38px 29px !important;
    .row {
      .charts {
        width: auto !important;
      }
    }   
  }
  @media only screen and (max-width: 710px) {
    padding: 49.82px 21px 38px !important;
    h2 {
      font-size: 26px !important;
      line-height: 29px !important;
      #caret {
        width: 32px !important;
        height: 32px !important;
      }
    }
    .row {
      .description {
        margin-top: 49.82px !important;
        h4.title {
          font-size: 26px !important;
          line-height: 28.99px !important;
        }
        p {
          line-height: 28px !important;
          font-size: 16px !important;
          margin-top: 0px !important;
        }
        .button-wrapper {
          display: none;
        }
      }
      .circle {
        width: 82px !important;
        height: 82px !important;
      }
      .first {
        margin-right: 14.11px !important;
      }
      .second {
        margin-right: 37.53px !important;
        .moon-star {
          img {
            width: 47.86px;
            height: 47.86px;
          }
        }
      }
      .third {
        .brain {
          width: 174.23px !important;
          height: 75.05px !important;
          img {
            width: 42.89px;
            height: 42.89px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    .row {
      .first {
        margin-right: 7.11px !important;
      }
      .second {
        margin-right: 17.53px !important;
      }
    }
  }
}
