/* You can add global styles to this file, and also import other style files */
@use "./app/variables";
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: Comfortaa;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  &.center {
    text-align: center;
  }
}

h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 60px;
}

h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
}

h5 {
  font-size: 22px;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  color: variables.$p-color;
  letter-spacing: 0.01em;
 
  &.lowercase {
    text-transform: lowercase;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: variables.$white-color;
  overflow-x: clip;

  .page {
    background: variables.$background-color;
    width: 100%;
    flex: 1;
    position: relative;
  }
}

.box {
  border-radius: 14px;
  flex: 1;
}
