/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700");

body {
  font-family: Comfortaa;
  margin: 0;
}

h1, h3 {
  margin: 0;
}
