@use "../../../variables";

#clinician-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 171px 2.72% 0 4.17%;
  background: url(../../../../assets/clinicians-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 117px);

  h3 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
  }
  .left {
    max-width: 585px;
    padding-top: 12.9vh;
    .button-wrapper {
      margin: 51px 0 97.79px;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    img#apple-set-image {
      width: auto;
      height: auto;
    }
  }

  @media only screen and (max-width: 1160px) {
    flex-direction: column;
    align-items: center;
    padding: 117px 29px 0 30px !important;
    min-height: fit-content !important;
    .left {
      padding-top: 0 !important;
    }
    .right {
      padding: 75px 0 132px;
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    .left {
      .button-wrapper {
        margin: 21px 0 8.5px !important;
      }
    }
    .right {
      padding: 34px 0 88.75px;
    }
  }
  @media only screen and (max-width: variables.$medium-width) {
    padding: 113px 17px 0 16px !important;
  }
}