<div id="clinician-home">
  <div class="left">
    <h1 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="50"
    data-aos-duration="700">Hero Text For Clinicians!</h1>
    <h3 data-aos="fade-right" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100"
    data-aos-duration="700">Improve life quality with better sleep...</h3>
    <div class="button-wrapper" data-aos="fade-right">
      <app-button label="Get Started"></app-button>
    </div>
  </div>
  <div class="right" data-aos="fade-up" data-aos-anchor-placement="top" data-aos-duration="800">
    <img src="../../../../assets/apple-set.png" id="apple-set-image" />
  </div>
</div>