@use "../../../variables";

#clinician-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 89px 2.72% 0 4.17%;
  background: url(../../../../assets/clinicians-bg.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 100vh;
  h1 {
    font-size: 78px;
    font-weight: 300;
    margin: 0;
  }
  h3 {
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: lowercase;
    font-family: 'Work Sans', sans-serif;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 16px;
  }
  .left {
    max-width: 585px;
    margin-top: 110.37px;
    .button-wrapper {
      margin: 51px 0 97.79px;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    img#apple-set-image {
      position: relative;
      width: auto;
      max-width: 100%;
      height: auto;
    }
  }

  @media only screen and (max-width: 1160px) {
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: variables.$medium-width) {
    .left {
      margin-top: 0 !important;
      .button-wrapper {
        margin: 21px 0 8.5px !important;
      }
    }
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 22px;
    }
  }
  @media only screen and (max-width: variables.$small-width) {
    h1 {
      font-size: 28px;
    }
    h3 {
      font-size: 16px;
    }
  }
}